<div class="d-flex text-center h-100 text-white bg-dark">
  <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
    <main class="px-3" id="main">
      <img src="\assets\logo_uml\UML_logo.svg">
      <h1>Stwórz własny diagram UML</h1>
      <p class="lead">Wybierz jeden z pięciu najczęściej stosowanych diagramów UML w branży IT</p>
      <p class="lead">
        <button mat-raised-button style="outline: none;" color="primary"
          routerLink="/diagram-choice">Zaczynamy!</button>
      </p>
      <p class="lead">
        <button mat-stroked-button style="outline: none;" color="accent" routerLink="/docs">Dokumentacja</button>
      </p>
    </main>
  </div>
</div>
